nav{
    height: 50px;
    background: #34495e;
    padding: 0 20px;
    color: #fff;
    z-index: 1000;
    position: sticky;
    top: 0px;
}


  /* Company Name */
#logo{
    line-height: 60px;
    float: left;
    text-transform: uppercase;
}
  
/* Menu */
#menu{
    float: right;
    line-height: 60px;
    font-size: 15px;
}
#menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s;
}

.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;
}
.show-menu-btn i{
    line-height: 50px;
}
#menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
    color: #3498db;
}
  
#chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
}
  
@media (max-width:945px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  #menu{
    position: fixed;
    width: 50vw;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
  }
  #menu a{
    display: block;
    padding: 20px;
  }
  .hide-menu-btn{
    position: absolute;
    top: 10px;
    right: 30px;
  }
  #chk:checked ~ #menu{
    right: 0;
  }
}
@media screen and (min-width:1440px) {
  #menu{
    font-size: 21px;
  }
}

/* The progress container*/
.progress-container {
  position: sticky;
  top:50px ;
  height: 8px;
  background: #ccc;
  z-index: 1000;
}

/* The progress bar*/
.progress-bar {
  height: 8px;
  background: #34495e;
  width: 0%;
}